.logo {
    display: flex;
    margin: 0;
    padding: 0;
    color: white;
    height: 8vw;
}

.logo img {
    width: 8vw;
    height: 8vw;
}

.logo h1 {
    font-size: 3vw;
}

.leftside {
    background-color: #0A6A78;
}

.logo ul {
 width: 100%;
 height: 8vw;
 list-style: none;
 display: flex;
 justify-content: right;
 align-items: center;
 padding: 0;
 margin: 0;
}

.logo ul li {
    font-size: 2vw;
    margin-right: 1.5vw;
    align-items: center;

}

.aboutMe {
    display: none;
}

.daily {
    display: none;
}

.dailyline {
    display: flex;
    width: 100%;
    padding: 0;
    margin: 0;
}

.dailyline div {
    display: flex;
    border: black solid 1px;
    width: 20vw;
    height: 4vw;
    font-size: 2vw;
    justify-content: center;
    align-items: center;
}



.icons {
    padding: 0;
    margin: 0;
    border: black solid 0.5px;
    display: flex;
    padding: 0.2vw;
    margin: 0.5vw;
}

.link {
    display: flex;
}

.icons img {
    padding: 0;
    margin: 0;
    width: 3vw;
    height: 3vw;
    margin-right: 0.5vw;
}

.icons h1 {
    font-weight: 400;
    height: 3vw;
    align-content: center;
    padding: 0;
    margin: 0;
    font-size: 1.5vw;
}

